.blue {
    height: 50px;
    width: 150px;
    background-color: blue;
}
.red {
    height: 50px;
    width: 150px;
    background-color:red;
}
.indigo {
    height: 50px;
    width: 150px;
    background-color: indigo;
}
.violet {
    height: 50px;
    width: 150px;
    background-color: violet;
}
.green {
    height: 50px;
    width: 150px;
    background-color: green;
}
.yellow {
    height: 50px;
    width: 150px;
    background-color: yellow;
}
.orange {
    height: 50px;
    width: 150px;
    background-color: orange;
}

